

*{margin:0;padding:0;}
ul,li{list-style:none;}
.slide{height:180px;overflow:hidden;}
.slide ul{height:100%;}
.slide li{height:100%;}

.slide li:nth-child(1){background:url("../images/conversion/1.PNG");cursor: pointer;}
.slide li:nth-child(2){background:url("../images/conversion/2.PNG");cursor: pointer;}
.slide li:nth-child(3){background:url("../images/conversion/3.PNG");cursor: pointer;}
.slide li:nth-child(4){background:url("../images/conversion/4.PNG");cursor: pointer;}
.slide li:nth-child(5){background:url("../images/conversion/5.PNG");cursor: pointer;}
.slide li:nth-child(6){background:url("../images/conversion/6.PNG");cursor: pointer;}
.slide li:nth-child(7){background:url("../images/conversion/7.PNG");cursor: pointer;}
.slide li:nth-child(8){background:url("../images/conversion/8.PNG");cursor: pointer;}
.slide li:nth-child(9){background:url("../images/conversion/9.PNG");cursor: pointer;}

.logo{
    background: black;
    height: 60px;
    text-align: center;
}

.rank{
    padding: 5px 5px;
}

.kakaopay, .bcpay{
    padding: 10px 10px;
    cursor: pointer;
}


.btn_p {
    float: left;
    margin-left: 1%;

    cursor: pointer;
}
p{
    cursor:pointer;
}

p:nth-of-type(2),p:nth-of-type(3),p:nth-of-type(4),p:nth-of-type(5){
    float: left;
    margin-left: 1%;
    cursor: pointer;
    display: none;
}



